/*Header*/
.header{
    background-color: white;
    width: 100%;
    position: fixed;
    margin: 10px;
    grid-template-columns: auto auto;
    display: grid;
}
.header_logo{
    height: 60px;
}
.header_categories{
    margin: auto;
    font-size: 25px;
    align-items: right;
    grid-template-columns: auto auto auto;
    display: grid;  
    justify-content: end;  
}
.about_btn{


}
.header_menu{
    display: none;
    font-size: 60px;
    color: white;
}
.header li{
    padding: 20px;
}