/*Header*/
.header{
    background-color:rgba(99, 160, 211, 0.97);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
    height: 60px;
    width: 100%;
    position: fixed;
    margin: 0px;
    grid-template-columns: 1fr  auto;
    display: grid;
    justify-content:  right;
}
.header_logo{
    border-radius: 50%;
    margin-top: 5px;
    margin-left: 50px;
    height: 50px;
}
a{
    color: white;
    text-decoration: none;
}
a:hover{
    color: black;
    text-shadow: 3px 3px white;
}
.header_categories{
    text-shadow: 3px 3px dimgrey;
    margin: auto 50px;
    font-size: 28px;
    align-items: right;
    grid-template-columns: auto auto auto;
    display: grid;  
    
}
.about_btn{
margin-right: 25px;
}
.project_btn{
    margin-right: 25px;
}
.contact_btn{
    margin-right: 25px;
}
.header_menu{
    display: none;
    font-size: 60px;
    color: white;
}
.header li{
    padding: 20px;
}