/**/

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    margin: auto;
    background: rgb(2,0,36);
background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
    font-size: 16px;
    font-family: 'Cinzel', serif;
}
a{
    color: white;
    text-decoration: none;
}
li{
    list-style-type: none; 
 }
/*Container*/
.container{
    width: 85%;
    margin: auto;
}
.nav-main{
    height: 60px;
    margin-bottom: 10px;
    margin-top: 10px;
    align-content: space-between;
    display: flex;
    justify-content: space-between;
}
.logo{
    height: 60px;
}
.categories{
    font-size: 25px;
    align-items: center;
    display: flex;    
}
.menu{
    display: none;
    font-size: 60px;
    color: white;
}
.nav-main li{
    padding: 20px;
}
/*Showcase*/
.showcase{
    display: none;
}
.showcase.show{  
    display: block;
    align-items: center;
    align-content: center;
    margin: 10%;
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 20px;
}
.me{
    width: 300px;
    float: right;
}
.principal{
    
    display: grid;
    grid-template-rows: 1fr 1fr;
}
.name{
    
    color: white;
    font-size: 30px;  
    text-align: left;
}
.about{
    text-align: left;
    color: whitesmoke;
}
/*Projects*/
.project{
    display: none;
}
.project.show{
    grid-template-rows: auto auto auto;
    display: grid;
    color: white;
    margin: 20px 10%;
    text-align: center;
    align-content: center;
    align-items: center;
}
/*STraffic Light*/
.traffic_light{
    grid-template-rows: auto auto auto;
    display: grid;
}
.traffic_light_title{
    color: blanchedalmond;
}
.traffic_light_description{
    display: none;
}
.traffic_light_description.show{
    display: block;
    color: white;
}
.traffic_light_photo{
    display: none;
}
.traffic_light_photo.show{
    margin-top: 10px;
    display: block;
}
.traffic_light_photo_show{
    margin: auto;
    display: block;
    width: 800px;
}
/*Temperature Arduino*/
.temperature_arduino{
    grid-template-rows: auto auto auto;
    display: grid;
}
.temperature_arduino_title{
    color: blanchedalmond;
}
.temperature_arduino_description{
    display: none;
}
.temperature_arduino_description.show{
    display: block;
    color: white;
}
.temperature_arduino_photo{
    display: none;
}
.temperature_arduino_photo.show{
    margin-top: 10px;
    display: block;
}
.temperature_arduino_photo_show{
    margin: auto;
    display: block;
    width: 800px;
}
@media(max-width: 500px){
    .menu{
        display: flex;
    }
    .categories{
        display: none;
    }
    .showcase.show{
        display: grid;
        margin-left: auto;
        margin-right: auto;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr auto;
    }
    .me{
        float: none;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    .principal{
        margin-bottom: auto;
        display: grid;
        grid-template-rows: auto auto;        
    }
    .name{
        text-align: center;
        font-size: 23px;
    }
    .about{
        text-align: center;
    }
    .categories{
        transform: translateX(-400px);
        transition: transform 0.5s ease-in-out;
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        background: #2f3640;
        height: auto;
        padding: 30px;
        opacity: 0.8;
    }
    .categories.show{
        transform: translateX(-20px);
    }
}