.languajes{
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
    background-color:rgba(99, 211, 114, 0.2);
    border-radius: 10px;
    height: 140px;
    grid-template-columns: repeat(6, 1fr);
    display: grid;
    margin: auto 10% 3% 10%;
    align-content: center;
    align-items: center;
    text-align: center;
}
.languajes img{
    
    margin: auto;
    display: flex;
    height: 110px;
}

.languajes_arduino .tiptext {
    visibility: hidden;
    width: 120px;
    background-color: rgba(0, 0, 0, 0.6);
    color: #fff;
    text-align: center;
    border-radius: 3px;
    padding: 6px 0;
    position: absolute;
    z-index: 1;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}
.languajes_arduino:hover .tiptext {
    visibility: visible;
}

.languajes_asm .tiptext {
    visibility: hidden;
    width: 120px;
    background-color: rgba(0, 0, 0, 0.6);
    color: #fff;
    text-align: center;
    border-radius: 3px;
    padding: 6px 0;
    position: absolute;
    z-index: 1;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}
.languajes_asm:hover .tiptext {
    visibility: visible;
}

.languajes_c .tiptext {
    visibility: hidden;
    width: 120px;
    background-color: rgba(0, 0, 0, 0.6);
    color: #fff;
    text-align: center;
    border-radius: 3px;
    padding: 6px 0;
    position: absolute;
    z-index: 1;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}
.languajes_c:hover .tiptext {
    visibility: visible;
}

.languajes_html .tiptext {
    visibility: hidden;
    width: 120px;
    background-color: rgba(0, 0, 0, 0.6);
    color: #fff;
    text-align: center;
    border-radius: 3px;
    padding: 6px 0;
    position: absolute;
    z-index: 1;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}
.languajes_html:hover .tiptext {
    visibility: visible;
}

.languajes_css .tiptext {
    visibility: hidden;
    width: 120px;
    background-color: rgba(0, 0, 0, 0.6);
    color: #fff;
    text-align: center;
    border-radius: 3px;
    padding: 6px 0;
    position: absolute;
    z-index: 1;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}
.languajes_css:hover .tiptext {
    visibility: visible;
}

.languajes_javascript .tiptext {
    visibility: hidden;
    width: 120px;
    background-color: rgba(0, 0, 0, 0.6);
    color: #fff;
    text-align: center;
    border-radius: 3px;
    padding: 6px 0;
    position: absolute;
    z-index: 1;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}
.languajes_javascript:hover .tiptext {
    visibility: visible;
}