/*About*/
.about_photo_show{
    width: 300px;
    float: right;
    border-radius: 50%;
}
.about.text{
    
    display: grid;
    grid-template-rows: 1fr 1fr;
}
.about_text_name{
    
    color: white;
    font-size: 30px;  
    text-align: left;
}
.about_text_decription{
    text-align: left;
    color: whitesmoke;
}