/*About*/
.about_photo_show{
    margin-top: 30px;
    margin-bottom: 30px;
    width: 300px;
    float: right;
    border-radius: 50%;
}
.about_text{
    display: grid;
    grid-template-rows: auto auto;
}
.about_text_name{
    text-shadow: 2px 2px orangered;
    /* font-family: 'Rock Salt', cursive; */
    color: olive;
    font-size: 30px;  
    text-align: left;
    ;
}
.about_text_description{
    text-align: justify;
    color: whitesmoke;
}